@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@400;500&family=The+Nautigal:wght@700&family=Yeseva+One&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
header {
  background-color: #146356;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
nav .left-part {
  display: flex;
  align-items: center;
}
nav .left-part img {
  width: 40px;
  height: 50px;
  margin-right: 20px;
}
.container nav .left-part h1 {
  font-size: 35px;
}
nav .right-part > ul {
  display: flex;
  align-items: center;
}
.right-part ul li {
  list-style-type: none;
  padding: 0px 20px;
  font-size: 18px;
}
.right-part ul li a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}
.right-part ul li a:hover {
  color: #f3c892;
}

main {
  background-color: #fff1bd;
  padding: 36px 0;
}
main .container {
  padding: 35px 30px;
  width: 1100px;
  max-width: 90%;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
}
main .container h1 {
  color: #146356;
}

.top-players,
.blogs,
.courses {
  display: grid;
  grid-gap: 30px;
  margin-top: 20px;
}
.top-players {
  grid-template-columns: repeat(3, 1fr);
}
.top-players .player {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  border-radius: 40px;
  transition: 0.3s;
  box-shadow: 0.2px 0.2px 10px rgb(241, 240, 240);
}
.top-players .player:hover {
  box-shadow: 1px 1px 20px rgba(209, 209, 209, 1);
}
.top-players .player img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}
.top-players .player p a {
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
hr {
  margin: 50px 0;
  color: rgba(209, 209, 209, 1);
}

.blogs {
  grid-template-columns: repeat(2, 1fr);
}
.blog {
  display: flex;
  font-weight: 500;
  font-size: 20px;
  align-items: center;
  padding: 10px 10px;
  border-radius: 20px;
  box-shadow: 1px 1px 10px rgb(241, 240, 240);
  transition: 0.3s;
}
.blog:hover {
  box-shadow: 1px 1px 30px rgba(209, 209, 209, 1);
}
.blog .thambnail img {
  position: relative;
  top: 3px;
  width: 177px;
  height: 117px;
  margin-right: 20px;
}
.blog-info a {
  text-decoration: none;
  transition: 0.1s;
  color: #146356;
}
.blog-info a:hover {
  color: #f3c892;
  text-decoration: underline;
}
.course-item {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.courses .course {
  margin: 10px;
  width: 252px;
  height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 22px;
  border-radius: 15px;
  box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
}
.courses .course:hover {
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
}
.course .thambnail img {
  width: 100%;
}
.course-detail h3 {
  font-size: 22px;
}
.course-detail .author {
  margin-bottom: 10px;
}
.course-detail .author a {
  text-decoration: none;
  color: #146356;
  font-weight: 500;
  font-size: 1.1em;
  transition: 0.1s;
}
.course-detail .author a:hover {
  text-decoration: underline;
  color: #f3c892;
}
.course .course-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
}
.course .course-information .ratting {
  color: #a2a2a2;
}
.course .course-information .fa-star.filled {
  color: #ffc014;
}
.course .course-information .ratting .fa-star.empty {
  color: #aeaeae;
  opacity: 0.25;
}
.course .course-information .time {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 10px;
  border-radius: 15px;
  background-color: #ffe4e8;
  color: #ff4a60;
}
.course .course-information .time .fa-clock {
  margin-right: 7px;
}
